# Package: Reference Standard M
# File:    .dockerignore
# Summary: Docker ignore list
#
# SPDX-FileCopyrightText:  © 2022-2026 Fourth Watch Software LC
# SPDX-FileContributor:    David Wicksell <dlw@linux.com>
# SPDX-FileComment:        https://gitlab.com/Reference-Standard-M/rsm
# SPDX-License-Identifier: AGPL-3.0-or-later

Dockerfile
rsm
tags
TODO
RSM_CRASH
.debug-build
.gitignore
.gitattributes
.gitlab-ci.yml
.cppcheckrc
.shellcheckrc
*core
*.dat
*.jnl
*.snap
log/rsm-*.log
**/*.o
**/*.d
**/.*.sw[ponx]
