# SPDX-FileCopyrightText:  © 2020 David Wicksell <dlw@linux.com>
# SPDX-License-Identifier: AGPL-3.0-or-later

rsm
**/*.o
log/rsm-*.log
RSM_CRASH
*core
*.dat
*.jnl
tags
TODO
.cppcheckrc
.shellcheckrc
**/.*.sw[ponx]
