{{!
  Package: Reference Standard M
  File:    doc/supplemental-ui/partials/footer-content.hbs
  Summary: Antora UI Handlebars footer configuration

  SPDX-FileCopyrightText:  © 2024-2026 Fourth Watch Software LC
  SPDX-FileContributor:    David Wicksell <dlw@linux.com>
  SPDX-FileComment:        https://gitlab.com/Reference-Standard-M/rsm
  SPDX-License-Identifier: GFDL-1.3-no-invariants-or-later
}}
<footer class="footer">
  <span style="float: left;">
    <p>Copyright © 2020-2026 Fourth Watch Software LC.</p>
    <p>The RSM documentation is licensed under the terms of the GFDL-1.3 license.</p>
  </span>
  <span style="float: right;">
    <p>This page was built using the Antora default UI.</p>
    <p>The source code for this UI is licensed under the terms of the MPL-2.0 license.</p>
  </span>
  <div style="clear: both;"></div>
</footer>
