{{!
  SPDX-FileCopyrightText:  © 2024 David Wicksell <dlw@linux.com>
  SPDX-License-Identifier: GFDL-1.3-no-invariants-or-later
}}
<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field" style="margin-right:auto">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://rsmlang.com/" style="margin-left:auto">RSM Website</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Resources</div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://gitlab.com/dlwicksell/rsm-test/">Git Repository</a>
            <a class="navbar-item" href="https://fourthwatchsoftware.com/">Fourth Watch Software</a>
          </div>
        </div>
        <img class="navbar-item" src="https://fourthwatchsoftware.com/images/fws-logo-horizontal.png" style="max-width:50%" alt="">
      </div>
    </div>
  </nav>
</header>
