#
# Package: Reference Standard M
# File:    rsm/etc/rsm.service
# Summary: Systemd system service file
#
# David Wicksell <dlw@linux.com>
# Copyright © 2024 Fourth Watch Software LC
#
# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License (AGPL) as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
# or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
# License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see https://www.gnu.org/licenses/.
#
# Make sure you have created a database file and configured rsm/etc/rsm.env
# for your environment before installing and running this service.
#
# SPDX-FileCopyrightText:  © 2024 David Wicksell <dlw@linux.com>
# SPDX-License-Identifier: AGPL-3.0-or-later
#
#
# Copy this file to /etc/systemd/system/ making sure to change <USER> and
# <GROUP> templates to the user and group you want to use when running the
# service.
#
# To change the templates in place after copying this service:
#   $ sudo sed -i -e 's/<USER>/user/g' -e 's/<GROUP>/group/g' \
#       /etc/systemd/system/rsm.service
#
# Then reload the systemd daemon:
#   $ sudo systemctl daemon-reload
# Then enable it as a privileged user with:
#   $ sudo systemctl enable rsm
# To start the service:
#   $ sudo systemctl start rsm
# To stop the service:
#   $ sudo systemctl stop rsm
# To restart the service:
#   $ sudo systemctl restart rsm
# To check the status of the service:
#   $ systemctl status rsm
# To disable the service:
#   $ sudo systemctl disable rsm

[Unit]
Description=The Reference Standard M Environment Service
After=network.target

[Service]
Type=forking
User=<USER>
Group=<GROUP>
WorkingDirectory=/home/<USER>/rsm
EnvironmentFile=/home/<USER>/rsm/etc/rsm.env
ExecStart=/usr/local/bin/rsm -j $RSM_JOBS -g $RSM_GBUF -r $RSM_RBUF
ExecStop=/usr/local/bin/rsm -k $RSM_DBFILE
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

# ex: filetype=systemd
