#
# Package:  Reference Standard M
# File:     rsm/etc/rsm@.service
# Summary:  Systemd service file
#
# David Wicksell <dlw@linux.com>
# Copyright © 2023 Fourth Watch Software LC
#
# This program is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License (AGPL) as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
# or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
# License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see http://www.gnu.org/licenses/.

[Unit]
Description=The Reference Standard M Environment Service

[Service]
Type=forking
WorkingDirectory=/home/%I/rsm
EnvironmentFile=/home/%I/rsm/etc/rsm.env
ExecStart=/usr/local/bin/rsm -j $RSM_JOBS -g $RSM_GBUF -r $RSM_RBUF $RSM_DBFILE
ExecStop=/usr/local/bin/rsm -k $RSM_DBFILE
Restart=always
KillSignal=SIGINT

[Install]
WantedBy=default.target

# ex: filetype=systemd
